@font-face { 
    font-family: "Baeminjua";
     src:url("../fonts/Baeminjua.TTF")
 }
 
body{
    background-color: #64C4DA;
    margin: 0;
}

.picture{
    background-color:white;
    border-color: black;
    font-size:12px;
    line-height:150px;
    position:fixed;
    background-size: cover;
    width : 200px;
    height : 200px; 
    top: 30px;
    left: 70px;
   }
   .picture_save{
        font-family: Baeminjua;
        margin-top: 130px;
        margin-left: 310px;
        width: 250px;
        position:fixed;
        font-size: 20px;
        background-color: #5882FA;
        color: white;
        border:none;
    }

    .inputmodeum{
        position:fixed;
        left: 70px;
        top: 15em;
       }

    input[type = text] {
    margin-top: 35px;
    height: 40px;
    border: none;
    font-size: 20px;
    }

    input[type = submit] {
        font-family: Baeminjua;
        height: 80px;
        width: 200px;
        position:fixed;
        bottom:30px;
        left : 200px;
        background-color: peru; border: #000000 0px solid;
        border-radius: 10px;;
        color:white;
        font-size : 30px;
    }

    .kategorie_box{
        float:left
    }


    select{
        height: 40px;
        border: none;
        font-size: 20px;
        left : 190px;    
        position:fixed;  
    }

    textarea{
        margin-top: 35px;
        height: 40px;
        border: none;
        font-size: 20px;
    }
    .item_name{
        width: 13cm;
    }

    #simple_talk{
        width: 13cm;
        height: 3cm;
    }

    .item_kategorie{
        margin-top :14px;
    }

    #item_price{
        margin-top: 50px;
        margin-left: -76px;
    }
    p{
        font-size : 23px; 
        font-family: Baeminjua;
        color:purple
    }

    #ctct{
        margin-top: 10px;
    }