@font-face { 
    font-family: "Baeminjua";
     src:url("../fonts/Baeminjua.TTF")
 }
 
body{
    background-color: #7DC0C2;
    margin: 0;
}

.twosquare{
    background-color: #A7D5D6;
    width: 100vw;
    height: 35vh;
    position: fixed;
    bottom: 0px;
    z-index:1;
   }

   .rounded{
    position: absolute; 
    left: 50%; 
    transform: translateX(-50%);
    top: 10%;
    background-color : white;
    height: 581px; width : 1100px;
    border-radius: 30px;
    z-index:3;
    box-shadow: 3px 4px 10px 1px;
   }

   .titlename{
    color:#3AAEC1;
    position: relative;
    font-family: Baeminjua;
    font-size : 5em;
    left: 37%;
    top : 2%;
   }

   .idtext{
    width : 200px;
    height: 30px;
   }

   .arrow{
       background-image: url("../images/arrow.png");
       width:40px;
       height:40px;
       z-index:5;
       background-size: cover;
       position: fixed;
       top: 2em;
       left: 3em;
   }
   
   .rightarrow{
        font-family: Baeminjua;
       width:40px;
       height:40px;
       z-index:5;
       background-size: cover;
       position: fixed;
       top: 2em;
       right: 3em;
       background-image:url(../images/arrowright.png) ;
       background-color: black; border: #000000 0px solid
   }

   .inputmodeum{
    position:fixed;
    right: 10em;
    top: 7em;
   }

   .picture{
    background-color:white;
    border-color: black;
    text-align:center;
    margin:0 auto;
    font-size:12px;
    vertical-align:middle;
    line-height:150px;
    position:fixed;
    background-image: url("../images/whohuman.png");
    background-size: cover;
    width : 220px;
    height : 220px; 
    left: 200px;
    top: 150px;
   }

   .picture_save{
        font-family: Baeminjua;
        margin-top: 260px;
        width: 250px;
        font-size: 20px;
        background-color: #7DC0C2;
        color: white;
        border:none;
    }

   input[type = text] {
    margin-top: 30px;
    width: 7cm;
    height: 30px;
    border: none;
    border-bottom: 2px solid #000000;
    }

    input[type = password] {
        width: 7cm;
        height: 30px;
        margin-top: 40px;
        border:none;
        border-bottom: 2px solid #000000;
    }