<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="./stylesheets/loginstyle.css" type="text/css">          
    </head>

    <body>
        <div class = "rounded">
            <div class = "titlename"><font color = "#3AAEC1">GSM</font><font color = #2DC98B;> NARA</font></div>
            <form class = "manyform">
                <input placeholder = "학번ex)2116" type="text" class = "idtext"><br>
                <input placeholder = "Password" type="password"><br>
                <a href="http://localhost:3000/register" style="text-decoration:none"><div class = "nohuman">아직 회원이 아니세요?</div></a>
                <input class = "submitbtn" type="submit" value = "Login">
            </form>
        </div>
        <div class = "twosquare"></div>
        <div class = "discord">
           <div class ="discordid">
                한결#3002
            </div>
        </div>
        </body>
    </body>

</html>