<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./stylesheets/main.css" type="text/css">          
    <title>Main</title>
</head>
<body>
    <div class = "rounded">
        <div class = "titlename"><font color = "#3AAEC1">GSM</font><font color = #2DC98B;> NARA</font></div>
        <div class = "outpage">
            <div class = "namehello"> 님 안녕하세요!!</div>
            <a href="/"><div class = "logout">로그아웃</div></a>
            <div class = "mypage">마이페이지</div>
        </div>    
            <div class = "searchbar">
                <input type="text" placeholder="관심있는 물건 입력">
                <button>검색</button>
            </div>

            <div class = "chatpackage">
                <img src="./images/chat.png" width="50" height="50"/>
                <div class = "talkwrite">GSM Talk
            </div>
                
            <div class = "itemsellpackage">
                <img src="./images/gift.png" width="50" height="50"/>
                <div class = "sellwrite">물건판매하기</div>
            </div>
               
</body>
</html>