<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- <meta http-equiv="refresh" content="0.5">   -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="./stylesheets/register.css" type="text/css">          
        <title>Register</title>
    </head>
    <body>
        <div class = "rounded">
            <div class = "titlename">Register</div>
            <!-- <button class = "rightarrow" onclick="send_data();"></button> -->
            <a href="/"><div class ="arrow"></div></a>
            <div class = "picture">
                <button class = "picture_save">사진 저장</button>
            </div>
            <form action="/getinformation", method="POST">
                <input type = "submit" class = "rightarrow" style ="background-color: transparent;", value="">
                <div class = "inputmodeum">
                    <input placeholder = "학번ex)2116" type="text" class = "idtext" name ="student_id"><br>
                    <input placeholder = "이름" type="text" class = "idtext" name = "name"><br>
                    <input placeholder = "디스코드 ID" type="text" class = "idtext" name = "discordid"><br>
                    <input placeholder = "PassWord" type="password" class = "idtext" name = "password"><br>
                    <input placeholder = "RePassWord" type="password" class = "idtext" name ="RePassWord">
                </div>    
            </form>
        </div>
        <div class = "twosquare"></div>
    </body>
</html>