<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- <meta http-equiv="refresh" content="0.5">   -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="./stylesheets/register.css" type="text/css">          
        <title>Register</title>
    </head>
    <body>
        <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
        <script type="text/javascript">
            $(function() {
                $("#imgInp").on('change', function(){
                    readURL(this);
                });
            });
            function readURL(input) {
                if (input.files && input.files[0]) {
                var reader = new FileReader();
    
                reader.onload = function (e) {
                        $('#blah').attr('src', e.target.result);
                    }
    
                  reader.readAsDataURL(input.files[0]);
                }
            }
        </script>

        <div class = "rounded">
            <div class = "titlename">Register</div>
            <!-- <button class = "rightarrow" onclick="send_data();"></button> -->
            <a href="./"><div class ="arrow"></div></a>
            <form id = "form1" action="./register/getinformation", method="POST", enctype="multipart/form-data">
                <img class = "picture" id = "blah"/>
                    <input type="file" id = "imgInp" class = "picture_save" accept="image/git,image/jpeg,image/png" name = "userfile"></input>    
                <input type = "submit" class = "rightarrow" style ="background-color: transparent;", value="">
                <div class = "inputmodeum">
                    <input placeholder = "학번ex)2116" type="text" class = "idtext" name ="student_id"><br>
                    <input placeholder = "이름" type="text" class = "idtext" name = "name"><br>
                    <input placeholder = "디스코드 ID" type="text" class = "idtext" name = "discordid"><br>
                    <input placeholder = "PassWord" type="password" class = "idtext" name = "password"><br>
                    <input placeholder = "RePassWord" type="password" class = "idtext" name ="RePassWord">
                </div>    
            </form>
        </div>
        <div class = "twosquare"></div>
    </body>
</html>